* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    /* width: 1920; */
    /* width: 100% !important;
    overflow-x: hidden !important;
    margin: 0px;
    padding: 0px; */
    /* object-fit: fill; */
}

.header,
.carousal_section,
.categories_container {
    max-width: 100%;
    /* width: 100%; */
    overflow: hidden;
}

.header {
    height: 120px;

}

.px-110 {
    padding: 0px 60px;
    /* padding:0px 100px; */
}

.ul>li {
    padding-left: 40px;
}

.ul>li>a {
    text-decoration: none;
    color: #3C4852 !important;
}

.nav-item {
    text-decoration: none;
    font-family: Literata;
    font-weight: 400;
    font-size: 18px;
    /* font-size: 20px; */
    line-height: 29.7px;
    letter-spacing: 0%;
}

.input {
    /* width: 420px; */
    width: 380px;
    height: 51px;
    border-radius: 8px;
    border: 1.5px solid #848A8F !important;
    background-color: rgb(239, 239, 239) !important;
    padding: 0px 10px;
    color: #848A8F;
}

.search_btn {
    border: 1.5px solid #848A8F;
    border-right: 0px;
    border-left: 0px;
    background-color: rgb(239, 239, 239);
    position: relative;
    right: 60px;
}

.ml-20 {
    margin-left: 20px;
}

.pl {
    padding-left: 50px;
}

@media screen and (max-width:768px) {
    .header {
        height: auto;
    }

    .inner-header-content,
    .ul,
    .header-btn,
    .header {
        flex-wrap: wrap;
    }

    .px-110 {
        padding: 0px !important;
    }

    form {
        margin: 10px 0px 30px 0px;
    }

    .header-btn {
        margin: 0px 0px 30px 0px;
    }
}

/* header style end  */

/* navbar style start */
.navbar_container {
    /* height: 120px; */
    background: aliceblue;
}

.button_typo_style {
    font-family: Literata;
    font-weight: 500;
    font-size: 18px;
    /* font-size: 20px; */
    line-height: 29.7px;
    letter-spacing: 0%;
    padding: 10px;
    border-radius: 8px;
}

.launch_btn {
    border: 1.5px solid #BE0006;
    color: #BE0006;
}

.signuplogin_btn {
    border-width: 1.5px;
    background: #BE0006;
    border: 1.5px solid #BE0006;
    box-shadow: 3px 4px 10px 0px #A5A5A540;
    color: #FFFFFF;
}

/* navbar style end  */


/* banner style start */
.carousel-item>img {
    height: 600px;
    /* height: 700px; */
}

.carousel-caption {
    bottom: 9.25rem !important;
}

.carousel-caption>p {
    font-family: Literata;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1 !important;
}

.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: none !important;
}

.next,
.prev {
    background: #ffffff;
    border-radius: 50px;
    height: 58px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-image: url(./images/arrow_back_ios.png) !important;
}

.carousel-control-next-icon {
    transform: rotate(180deg);

}

/* Change the shape to dots */
.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50px !important;
    background: #C2C2C2 !important;
    border: none !important;
    margin: 0 5px !important;
    opacity: 1 !important;
}

/* Active dot color */
.carousel-indicators .active {
    background: #FFFFFF !important;
}

/* banner style end  */

/* categories style start */

.categories_container {
    max-width: 1420px;
    margin: auto;
    padding: 30px;

}

.categories_img {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.categories_grid img {
    /* width: 100%;
        height: auto; */
    border-radius: 20px;
}

@media screen and (max-width:768px) {
    .categories_grid img {
        width: 100%;
    }

    .categories_img {
        row-gap: 0px;
    }
}

@media screen and (min-width:768px)and (max-width:1400px) {
    .categories_grid {
        flex-direction: column;
    }

    .categories_img {
        flex-direction: row;
        column-gap: 2px;
        row-gap: 2px;
    }

    .categories_img {
        width: 100% !important;
    }

    .categories_img>div {
        width: 50%;
    }

    .categories_grid img {

        width: 100%;

    }
}

/* categories style end */

/* launch card style start */
.launch_card_container {
    max-width: 1400px;
    margin: auto;
    padding: 30px 50px;
}

.launch_card_content>p {
    font-family: Literata;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #303030;
    padding-bottom: 30px;

}

.explore-card-section {


    /* position: relative; */
    /* border: 3px solid green; */
    /* width:50% !important; */
}

.explore-card-img {
    /* height: 389px !important; */
}

.explore-card-img>img {
    /* border: 3px solid red;
    width: 100%;
    height: 100% !important; */
    width: 100%;
}

.card-content-parent {
    background: #F1F1F1;
    box-shadow: 0px 0px 3.04px 0px #E5E5E5;
    /* border: 2px solid green; */
    padding: 0px 20px 0px 20px;
}

.explore-card-content {
    background: #FFFFFF;
    position: relative;
    top: -20px;
    width: 100%;
    /* border: 2px solid red; */
    padding: 20px 30px;
    border-radius: 10px;
}

/* .curve{
    position: relative;
    top:-30px;
    background: #FFFFFF;
    width: 100px;
height:100px;
border-radius: 50px;
} */
.subscribe {
    width: 48px;
    height: 48px;
    background: #EFEFEF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para-short {
    font-family: Literata;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.23px;
    letter-spacing: 0%;
    color: #000000;

}

.para-large {
    color: #000000;
    font-family: Literata;
    font-weight: 300;
    font-size: 12.15px;
    line-height: 18.23px;
    letter-spacing: 0%;

}

.discover-now-btn {
    color: #3C4852;
    font-family: Literata;
    font-weight: 500;
    font-size: 12px;
    line-height: 18.23px;
    letter-spacing: 0%;
    border: 0.91px solid #3C4852;
    padding: 10px;
    background-color: #ffffff;

}

@media screen and (max-width:768px) {
    .engagement-section-container {
        flex-direction: column;
    }

    .engagement-section1 {
        border: 2px solid green;
        justify-content: space-between;
        /* align-items: start; */
    }

    .engagement-section2 {
        margin: 20px 0px;
        border: 2px solid red;
        /* align-items: start !important; */
    }
}

/* launch card style end  */

/* insight section start */

.insight_section-parent {
    background: #BE0006;
}

.insight_section {
    max-width: 1400px;
    margin: auto;
    padding: 30px 50px;

    /* padding: 30px 50px; */

}

.insight-section-content-parent {}

.insight-section-content {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px 30px;
    width: 32%;
    /* width: 33.33%;
margin-right: 10px; */
    height: 280px;
    border-radius: 20px;
    display: flex;
    justify-content: column;
    align-items: center;
    justify-content: center;
}

.release-now,
.trending-now,
.popular-now {
    text-align: center;

}

.release-now>h4,
.trending-now>h4,
.popular-now>h4 {
    font-family: Literata;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #BE0006;
    margin-top: 30px;
}

.release-now>p,
.trending-now>p,
.popular-now>p {
    font-family: Literata;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #000000;
    margin-top: 30px;
}

/* insight section start */